@import "tailwindcss";

.hamburgermenu { position: absolute; left: 0%; width: 100%; height: 100dvh; transition: 0.6s; }
 .body {
    background: oklch(0.16 0.02 265);
    width: 100%;
    background-color: var(--color-background);
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Inter", sans-serif;
    background-image: var(--gradient-hero);
    /* background-attachment: fixed; */
  }

:root {
  --radius: 0.625rem;
  /* Dark-by-default developer portfolio */
  /* --background: oklch(0.16 0.02 265); */
  --background: #090d16;
  --foreground: #ffffff;
  --card: oklch(0.21 0.025 265);
  --card-foreground: oklch(0.97 0.01 250);
  --popover: oklch(0.21 0.025 265);
  --popover-foreground: oklch(0.97 0.01 250);
  --primary: oklch(0.78 0.16 200);
  --primary-foreground: oklch(0.16 0.02 265);
  --secondary: oklch(0.27 0.04 265);
  --secondary-foreground: oklch(0.97 0.01 250);
  --muted: oklch(0.24 0.03 265);
  --muted-foreground: oklch(0.7 0.03 255);
  --accent: oklch(0.7 0.18 305);
  --accent-foreground: oklch(0.16 0.02 265);
  --destructive: oklch(0.65 0.22 25);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(100% 0.00011 271.152 / 0.206);
  --gradient-primary: #00d4df;
  --gradient-hero: radial-gradient(ellipse at top left, oklch(0.78 0.16 200 / 0.25), transparent 50%), radial-gradient(ellipse at bottom right, oklch(0.7 0.18 305 / 0.25), transparent 50%);
  --shadow-glow: 0 20px 60px -20px oklch(0.78 0.16 200 / 0.45);
  --shadow-elegant: 0 10px 40px -15px oklch(0 0 0 / 0.5);
 
}

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Inter", sans-serif;
    background-image: var(--gradient-hero);
    min-height: 100dvh;

  }
}

@layer utilities {
  .text-gradient {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .bg-gradient-primary { background: var(--gradient-primary); }
  .shadow-glow { box-shadow: var(--shadow-glow); }
  .shadow-elegant { box-shadow: var(--shadow-elegant); }
  .glass-t {
    border-top: 1px solid var(--border);
    padding-top:30px ;
  }
  .project-border{
    border: 1px solid var(--border);
  }
  /* .glass {
    background: color-mix(in oklab, var(--card) 70%, transparent);
    backdrop-filter: blur(12px);
    border: 1px solid var(--border);
  } */
   .glass {
    background: color-mix(in oklab, var(--card) 70%, transparent);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid var(--border);
    will-change: transform;
    background: oklch(0.21 0.025 265 / 0.85);
    transform: translateZ(0);
  }
  @media (min-width: 768px) {
    .glass {
      background: color-mix(in oklab, var(--card) 70%, transparent);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
    }
  }
}


